<hr/>
<div class="page-end">
    <div class="backlinks-container">
        {{ partial "backlinks.html" .}}
    </div>
    <div>
        {{ partial "graph.html" .}}
    </div>
</div>

<footer>
  <div class="go-back">
      <a href="https://deemonsecurity.com"><img src="{{ .Site.BaseURL }}img/avatar.png" alt="Go Back to Deemonsecurity.com"></a>
  <div>
  
  <div id="footer">
    <div class="container">
      <p class="text-muted">&copy; All rights reserved.</p>
    </div>
  </div>
  
</footer>

{{ partial "js" . }}  